<!DOCTYPE html>
<meta charset="utf-8">
<title>404 · Not Found</title>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

<div class="container text-center">
  <h1>Error 404</h1>
  <p class="lead">Oops! We can't find the page that you are looking for.
  <p>If you believe you've received this message in error, please contact the webmaster. Head back <a href="/web">home</a>.
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
