<!DOCTYPE html>
<meta charset="utf-8">
<title>500 · Service Error</title>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

<div class="container">
  <h1>Error 500</h1>
  <p class="lead">Our servers have encountered a hiccup while processing your request. Please try again momentarily.
  <p>If this error persists, contact the webmaster.
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
