{% extends "web/base.html" %}
{% load staticfiles %}
{% block title %}Coaches · Upper County{% endblock %}

{% block content %}

<div class="container uc-container">
  <ul class="nav nav-tabs space-top">
    <li class="active"><a href="#jen" data-toggle="tab">Jen</a>
    <li><a href="#shannon" data-toggle="tab">Shannon</a>
    <li><a href="#madeline" data-toggle="tab">Madeline</a>
    <li><a href="#jacob" data-toggle="tab">Jacob</a>
    <li><a href="#chris" data-toggle="tab">Chris</a>
  </ul>

  <div class="tab-content">
    <div class="tab-pane fade in active" id="jen">
      <div class="row">
        <div class="page-header">
          <h4>Jennifer Taylor <small>Head Coach</small></h4>
        </div>
        <img class="img-thumbnail featurette-img pull-left" src="{% static 'img/coaches-jenn.jpg' %}">
        <p>Jen has been our beloved head coach since 1996. She graduated from UMD with Master degrees in school counseling. She currently works for the MCPS as a guidance counselor at Wootton High School. Jen was an "Outstanding" member of the Westleigh, Wootton High School, RMSC and the University of Maryland swim teams.
        <p><span class="glyphicon glyphicon-envelope"></span><a href="mailto:jennifer_a_taylor@mcpsmd.org"> Send an email</a>
      </div>
    </div><!-- /.tab-pane -->
    <div class="tab-pane fade" id="shannon">
      <div class="row">
        <div class="page-header">
          <h4>Shannon King <small>Assistant Coach</small></h4>
        </div>
        <img class="img-thumbnail featurette-img pull-left" src="{% static 'img/coaches-shannon.jpg' %}">
        <p>Shannon started swimming for Upper County when she was 10 years old and swam for the Dolphins until she graduated from Gaithersburg High School. During the winter she is head coach of the GHS swim team. Shannon graduated from University of Maryland and has been working at the Nuclear Regulatory Commission for the past 5 years. In addition to coaching at UC and GHS, she also coaches year-round for RMSC. Some fun facts about Shannon: she loves to run and has a pet kitty named Brooksie. She's looking forward to another great season with the team!
        <p><span class="glyphicon glyphicon-envelope"></span><a href="mailto:sking0212@gmail.com"> Send an email</a>
      </div>
    </div><!-- /.tab-pane -->
    <div class="tab-pane fade" id="madeline">
      <div class="row">
        <div class="page-header">
          <h4>Madeline Strasser <small>Assistant Coach</small></h4>
        </div>
        <img class="img-thumbnail featurette-img pull-left" src="{% static 'img/coaches-madeline.jpg' %}">
        <p>Madeline began swimming at the age of 7 for a different MCSL team, Fallsmead, and continued there through her high school years. In high school, Madeline swam for RMSC at Rockville and was a member of the Wootton High School swim team all four years. Madeline is a rising junior at Penn State University and is majoring in International Politics. </p>
      </div>
    </div><!-- /.tab-pane -->
    <div class="tab-pane fade" id="jacob">
      <div class="row">
        <div class="page-header">
          <h4>Jacob Ado <small>Assistant Coach</small></h4>
        </div>
        <img class="img-thumbnail featurette-img pull-left" src="{% static 'img/coaches-jacob.jpg' %}">
        <p>Jacob started swimming for the Upper County Dolphins when he was 7 and will be swimming again this year for his final summer.  Jacob graduated from Gaithersburg High School in 2013.  While at GHS, Jacob was a varsity swimmer for 4 years and was the team captain during his junior and senior years.  In addition to swimming for GHS, Jacob swam for RMSC. Prior to graduation, Jacob coached for Montgomery Stroke & Turn clinic. Jacob currently attends West Virginia University as a Child Development and Family Studies major and is on the WVU Club Swim Team.
        <p><span class="glyphicon glyphicon-envelope"></span><a href="mailto:jpatton013@gmail.com"> Send an email</a>
      </div>
    </div><!-- /.tab-pane -->
    <div class="tab-pane fade" id="chris">
      <div class="row">
        <div class="page-header">
          <h4>Chris <small>Assistant Coach</small></h4>
        </div>
        <img class="img-thumbnail featurette-img pull-left" src="{% static 'img/coaches-chris.jpg' %}">
        <p>&nbsp;</p>
      </div>
    </div><!-- /.tab-pane -->
  </div><!-- /.tab-content -->
</div><!-- /.container -->

{% endblock %}
