{% extends "web/base.html" %}
{% load static %}
{% block title %}Coaches · Upper County{% endblock %}

{% block content %}

<div class="container uc-container">
  <div class="row">
    <ul class="nav nav-tabs space-top">
      {% for coach in coaches %}
      <li{% if forloop.first %} class="active"{% endif %}><a data-toggle="tab" href="#{{ coach.id }}">{{ coach.name }}</a>
      {% endfor %}
    </ul>
  </div><!-- /.row -->

  <div class="row tab-content">
    {% for coach in coaches %}
    <div class="tab-pane fade{% if forloop.first %} in active{% endif %} col-xs-12" id="{{ coach.id }}">
      <div class="page-header">
        <h4>{{ coach.name }} <small>{{ coach.title }}</small></h4>
      </div>
      {% if coach.image_file %}<img class="img-thumbnail featurette-img pull-left" alt="{{ coach.title }}" src="{{ coach.image_file.url }}">{% endif %}
      {% if coach.bio %}<p>{{ coach.bio }}</p>{% endif %}
      {% if coach.email %}<p><span class="glyphicon glyphicon-envelope"></span><a href="mailto:{{ coach.email }}"> Send an email</a></p>{% endif %}
    </div><!-- /.tab-pane -->
    {% endfor %}
  </div><!-- /.row.tab-content -->
</div><!-- /.container -->

{% endblock %}
