{% extends "web/base.html" %}

{% block title %}Meets · Upper County{% endblock %}

{% block content %}

<div class="container uc-container">
  <div class="row">
    <div class="col-md-9">
    
      <div class="uc-team-info-section">
        <div class="page-header">
          <h3 id="a-meets">A Meets</h3>
        </div>
        <div class="table-responsive">
          <table class="table table-bordered table-hover meets">
            <tr>
              <th>Date
              <th>Home vs. Away
              <th>Documents
            </tr>
            {% for instance in a_meets %}
            <tr>
              <td>{{ instance.date }}</td>
              <td>{{ instance.name }}</td>
              <td>
                <ul>
                  <li><a href="{{ instance.program_file.url }}">
                    Program
                    {% if instance.was_program_date_updated_recently %}
                      <span class="label label-success">New</span>
                    {% endif %}
                  </a></li>
                  <li><a href="{{ instance.results_file.url }}">
                    Results
                    {% if instance.was_results_date_updated_recently %}
                      <span class="label label-success">New</span>
                    {% endif %}
                  </a></li>
                </ul>
              </td>
            </tr>
            {% endfor %}
          </table>
        </div><!-- /.table-responsive -->
      </div><!-- /.uc-team-info-section -->
      
      <div class="uc-team-info-section">
        <div class="page-header">
          <h3 id="b-meets">B Meets</h3>
        </div>
        <div class="table-responsive">
          <table class="table table-bordered table-hover meets">
            <tr>
              <th>Date
              <th>Home vs. Away
              <th>Documents
            </tr>
            {% for instance in b_meets %}
            <tr>
              <td>{{ instance.date }}</td>
              <td>{{ instance.name }}</td>
              <td>
                <ul>
                  <li><a href="{{ instance.program_file.url }}">
                    Program
                    {% if instance.was_program_date_updated_recently %}
                      <span class="label label-success">New</span>
                    {% endif %}
                  </a></li>
                  <li><a href="{{ instance.results_file.url }}">
                    Results
                    {% if instance.was_results_date_updated_recently %}
                      <span class="label label-success">New</span>
                    {% endif %}
                  </a></li>
                </ul>
              </td>
            </tr>
            {% endfor %}
          </table>
        </div><!-- /.table-responsive -->
      </div><!-- /.uc-team-info-section -->
      
      <div class="uc-team-info-section">
        <div class="page-header">
          <h3 id="other-meets">Other Meets</h3>
        </div>
        <div class="table-responsive">
          <table class="table table-bordered table-hover meets">
            <tr>
              <th>Date
              <th>Name
              <th>Documents
            </tr>
            {% for instance in other_meets %}
            <tr>
              <td>{{ instance.date }}</td>
              <td>{{ instance.name }}</td>
              <td>
                <ul>
                  <li><a href="{{ instance.program_file.url }}">
                    Program
                    {% if instance.was_program_date_updated_recently %}
                      <span class="label label-success">New</span>
                    {% endif %}
                  </a></li>
                  <li><a href="{{ instance.results_file.url }}">
                    Results
                    {% if instance.was_results_date_updated_recently %}
                      <span class="label label-success">New</span>
                    {% endif %}
                  </a></li>
                </ul>
              </td>
            </tr>
            {% endfor %}
          </table>
        </div><!-- /.table-responsive -->
      </div><!-- /.uc-team-info-section -->

    </div><!-- /.col-md-9 -->

    <div class="col-md-3">
      <div class="uc-sidebar hidden-print" role="complementary">
        <ul class="nav uc-sidenav">
          <li><a href="#a-meets">A Meets</a>
          <li><a href="#b-meets">B Meets</a>
          <li><a href="#other-meets">Other Meets</a>
        </ul>
      </div><!-- /.uc-sidebar -->
    </div><!-- /.col-md-3 -->
  </div><!-- /.row -->
</div><!-- /.container -->

{% endblock %}

