{% extends "web/base.html" %}

{% block title %}Meets · Upper County{% endblock %}

{% block content %}

<div class="container uc-container">
  <div class="row">
    <div class="col-md-9" role="main">
      <div class="uc-team-info-section">
        <div class="page-header">
          <h3 id="a-meets">A Meets</h3>
        </div>
        <div class="table-responsive">
          <table class="table table-bordered table-hover meets">
            <tr>
              <th>Date
              <th>Home vs. Away
              <th>Documents
            </tr>
            {% for instance in a_meets %}
            <tr>
              <td>{{ instance.date }}</td>
              <td>{{ instance.name }}</td>
              <td>
                <ul>
                  {% if instance.program_file %}
                  <li><a href="{{ instance.program_file.url }}">
                    Program
                    {% if instance.was_program_date_updated_recently %}
                      <span class="label label-success">New</span>
                    {% endif %}
                  </a></li>
                  {% endif %}
                  {% if instance.results_file %}
                  <li><a href="{{ instance.results_file.url }}">
                    Results
                    {% if instance.was_results_date_updated_recently %}
                      <span class="label label-success">New</span>
                    {% endif %}
                  </a></li>
                  {% endif %}
                </ul>
              </td>
            </tr>
            {% endfor %}
          </table>
        </div><!-- /.table-responsive -->
      </div><!-- /.uc-team-info-section -->

      {% if b_meets %}
      <div class="uc-team-info-section">
        <div class="page-header">
          <h3 id="b-meets">B Meets</h3>
        </div>
        <div class="table-responsive">
          <table class="table table-bordered table-hover meets">
            <tr>
              <th>Date
              <th>Home vs. Away
              <th>Documents
            </tr>
            {% for instance in b_meets %}
            <tr>
              <td>{{ instance.date }}</td>
              <td>{{ instance.name }}</td>
              <td>
                <ul>
                  {% if instance.program_file %}
                  <li><a href="{{ instance.program_file.url }}">
                    Program
                    {% if instance.was_program_date_updated_recently %}
                      <span class="label label-success">New</span>
                    {% endif %}
                  </a></li>
                  {% endif %}
                  {% if instance.results_file %}
                  <li><a href="{{ instance.results_file.url }}">
                    Results
                    {% if instance.was_results_date_updated_recently %}
                      <span class="label label-success">New</span>
                    {% endif %}
                  </a></li>
                  {% endif %}
                </ul>
              </td>
            </tr>
            {% endfor %}
          </table>
        </div><!-- /.table-responsive -->
      </div><!-- /.uc-team-info-section -->
      {% endif %}

      {% if other_meets %}
      <div class="uc-team-info-section">
        <div class="page-header">
          <h3 id="other-meets">Other Meets</h3>
        </div>
        <div class="table-responsive">
          <table class="table table-bordered table-hover meets">
            <tr>
              <th>Date
              <th>Name
              <th>Documents
            </tr>
            {% for instance in other_meets %}
            <tr>
              <td>{{ instance.date }}</td>
              <td>{{ instance.name }}</td>
              <td>
                <ul>
                  {% if instance.program_file %}
                  <li><a href="{{ instance.program_file.url }}">
                    Program
                    {% if instance.was_program_date_updated_recently %}
                      <span class="label label-success">New</span>
                    {% endif %}
                  </a></li>
                  {% endif %}
                  {% if instance.results_file %}
                  <li><a href="{{ instance.results_file.url }}">
                    Results
                    {% if instance.was_results_date_updated_recently %}
                      <span class="label label-success">New</span>
                    {% endif %}
                  </a></li>
                  {% endif %}
                </ul>
              </td>
            </tr>
            {% endfor %}
          </table>
        </div><!-- /.table-responsive -->
      </div><!-- /.uc-team-info-section -->
      {% endif %}

      {% if archived_meets %}
      <div class="uc-team-info-section">
        <div class="page-header">
          <h3 id="archived-meets">Meets from Previous Years</h3>
        </div>
        <div class="table-responsive">
          <table class="table table-bordered table-hover meets">
            <tr>
              <th>Type
              <th>Date
              <th>Name
              <th>Documents
            </tr>
            {% for instance in archived_meets %}
            <tr>
              <td>{{ instance.get_meet_type_display }}</td>
              <td>{{ instance.date }}</td>
              <td>{{ instance.name }}</td>
              <td>
                <ul>
                  {% if instance.program_file %}
                  <li>
                    <a href="{{ instance.program_file.url }}">Program</a></li>
                  {% endif %}
                  {% if instance.results_file %}
                  <li>
                    <a href="{{ instance.results_file.url }}">Results</a></li>
                  {% endif %}
                </ul>
              </td>
            </tr>
            {% endfor %}
          </table>
        </div><!-- /.table-responsive -->
      </div><!-- /.uc-team-info-section -->
      {% endif %}

    </div><!-- /.col-md-9 -->

    <div class="col-md-3" role="complementary">
      <div class="uc-sidebar hidden-print hidden-xs hidden-sm">
        <ul class="nav uc-sidenav" data-spy="affix">
          <li><a href="#a-meets">A Meets</a>
          {% if b_meets %}<li><a href="#b-meets">B Meets</a>{% endif %}
          {% if other_meets %}<li><a href="#other-meets">Other Meets</a>{% endif %}
          {% if archived_meets %}<li><a href="#archived-meets">Meets from Previous Years</a>{% endif %}
        </ul>
      </div><!-- /.uc-sidebar -->
    </div><!-- /.col-md-3 -->
  </div><!-- /.row -->
</div><!-- /.container -->

{% endblock %}
