{% extends "web/base.html" %}
{% load staticfiles %}

{% block title %}Shop · Upper County{% endblock %}

{% block content %}

<div class="featurette" id="spirit-wear">
  <div class="container">
    <div class="col-md-8 col-md-push-4">
      <img class="img-responsive" src="{% static 'img/shop-hoodie.png' %}">
    </div>
    <div class="col-md-4 col-md-pull-8 text-left">
      <h3 class="featurette-title">Spirit Wear</h3>
      <p class="lead">T-shirts, hoodies, and more!
      <p>2016 apparel information coming soon
	  <!-- p><a class="btn btn-outline btn-large" href="//ucd15.itemorder.com/sale" target="_blank" role="button">Shop now!</a -->
    </div>
  </div>
</div>

<div class="featurette featurette-gray">
  <div class="container">
    <div class="row">
      <div class="col-sm-2 col-md-offset-1">
        <img src="{% static 'img/shop-latex-cap.jpg' %}" class="img-responsive img-thumbnail">
        <h4>Latex Swim Cap</h4>
        <p>$5.00
      </div>
      <div class="col-sm-2">
        <img src="{% static 'img/shop-silicone-cap.jpg' %}" class="img-responsive img-thumbnail">
        <h4>Silicone Swim Cap</h4>
        <p>$15.00
      </div>
      <div class="col-sm-2">
        <img src="{% static 'img/shop-magnet.jpg' %}" class="img-responsive img-thumbnail">
        <h4>Magnet</h4>
        <p>$5.00
      </div>
      <div class="col-sm-2">
        <img src="{% static 'img/shop-blanket.jpg' %}" class="img-responsive img-thumbnail">
        <h4>Blanket</h4>
        <p>$30.00
      </div>
      <div class="col-sm-2">
        <img src="{% static 'img/shop-bag-tag.jpg' %}" class="img-responsive img-thumbnail">
        <h4>Bag Tag</h4>
        <p>$4.00
      </div>
    </div><!-- /.row -->
    <small><br>Available for purchase during all home meets and team events</small>
  </div><!-- /.container -->
</div><!-- /.featurette -->

<div class="featurette">
  <div class="container">
    <h3 class="featurette-title">Team Suits</h3>
    <p class="lead">The team suits for the 2015 season will be the Dolfin Aero
	Splice Jammer for boys and the Dolfin Aero HP for girls.
    <hr class="half-rule">
    <div class="row">
      <div class="col-sm-3 col-sm-offset-3">
        <img src="{% static 'img/shop-jammer.jpg' %}" class="img-responsive">
        <h4>Jammer - $39.95 at Aardvark, $29.98 at <a href="http://www.swimoutlet.com/p/dolfin-aero-male-spliced-jammer-8119548/?color=210">Swim Outlet</a></h4>
      </div>
      <div class="col-sm-3">
        <img src="{% static 'img/shop-tank.jpg' %}" class="img-responsive">
        <h4>Tank - $50.95 at Aardvark, $42.98 at <a href="http://www.swimoutlet.com/p/dolfin-aero-female-hp-back-8119546/?color=210">Swim Outlet</a></h4>
      </div>
    </div>
  </div>
</div>


{% endblock %}
