{% extends "web/base.html" %}
{% load staticfiles %}

{% block title %}Shop · Upper County{% endblock %}

{% block content %}

<div class="featurette" id="spirit-wear">
  <div class="container">
    <div class="col-md-8 col-md-push-4">
      <img class="img-responsive" src="{% static 'img/shop-hoodie.png' %}">
    </div>
    <div class="col-md-4 col-md-pull-8 text-left">
      <h3 class="featurette-title">Spirit Wear</h3>
      <p class="lead">T-shirts, hoodies, and more!
      <p>Order by May 28, 2015. <br>Delivery date: Friday June 19th, 2015.
      <p><a class="btn btn-outline btn-large" href="//ucd15.itemorder.com/sale" target="_blank" role="button">Shop now!</a>
    </div>
  </div>
</div>

<div class="featurette featurette-gray">
  <div class="container">
    <div class="row">
      <div class="col-sm-2 col-md-offset-1">
        <img src="{% static 'img/shop-latex-cap.jpg' %}" class="img-responsive img-thumbnail">
        <h4>Latex Swim Cap</h4>
        <p>$5.00
      </div>
      <div class="col-sm-2">
        <img src="{% static 'img/shop-silicone-cap.jpg' %}" class="img-responsive img-thumbnail">
        <h4>Silicone Swim Cap</h4>
        <p>$15.00
      </div>
      <div class="col-sm-2">
        <img src="{% static 'img/shop-magnet.jpg' %}" class="img-responsive img-thumbnail">
        <h4>Magnet</h4>
        <p>$5.00
      </div>
      <div class="col-sm-2">
        <img src="{% static 'img/shop-blanket.jpg' %}" class="img-responsive img-thumbnail">
        <h4>Blanket</h4>
        <p>$30.00
      </div>
      <div class="col-sm-2">
        <img src="{% static 'img/shop-bag-tag.jpg' %}" class="img-responsive img-thumbnail">
        <h4>Bag Tag</h4>
        <p>$4.00
      </div>
    </div><!-- /.row -->
    <small><br>Available for purchase during all home meets and team events</small>
  </div><!-- /.container -->
</div><!-- /.featurette -->

<div class="featurette">
  <div class="container">
    <h3 class="featurette-title">Team Suits</h3>
    <p class="lead">The team suits for the 2015 season will be announced soon.
  </div>
</div>


{% endblock %}
