{% extends "web/base.html" %}

{% block title %}Volunteering · Upper County{% endblock %}

{% block content %}

<div class="container uc-container">
  <div class="row">
    <div class="col-md-9">
    <div class="page-header">
      <h3>Volunteer</h3>
    </div>
    <p class="lead">Parent volunteers are critical to the success of the swim season.
    <p>It takes between 45 to 60 parents to run a swim meet! Many jobs require little to no experience such as timing and selling food at concessions. Other jobs such as referee, starter, and stroke/turn judge require certification. Although most jobs are suited for adults, some jobs can be performed by middle or high school swimmers who want to earn SSL/Volunteer hours. See below for more information.
    <div class="bs-callout bs-callout-info">
      <h4>Family obligation</h4>
      <p>The volunteer requirement per family is 5 obligations. This does not include jobs for Time Trials, Divisionals, or SSL.
    </div>
    <p>

    <div class="page-header">
      <h3>Community Service</h3>
    </div>
    <p class="lead">Earn student service learning hours.
    <h4>Overview</h4>
    <p>Montgomery County high schools require 75 volunteer service hours (SSL or service learning hours) for students to graduate high school. The Upper County Dolphins Swim team, through Montgomery County Recreation is an approved SSL organization.

    <p>Middle or high school students can sign up for specially marked jobs (SSL Only) on www.signupgenius.com that earn SSL hours. These are the only jobs students may sign up for.
    <p>These jobs do NOT count toward family obligations. We are giving students the opportunity to earn hours. The team is getting the benefit of spreading our parent volunteers a bit farther. The jobs that qualify to earn SSL hours for our team are:
    <ul>
      <li>Runner
      <li>Concession worker
      <li>Clerk of course assistant
      <li>Ribbon writing assistant
      <li>Heat winner ribbon worker
      <li>Other non-meet jobs approved by coach or parent rep in advance
    </ul>
    <h4>How to track your hours</h4>
    <p>Print your name on a blank volunteer tracking sheet in this binder. File it alphabetically. Use one form for the entire season and add extra pages if needed.
    <h4>Volunteering at meets</h4>
    <p>Check in before the meet with the volunteer coordinator. Fill in the date and the job you are doing.  Volunteer check in parent will approve your form as supervisor & record number of hours worked.
    <h4>Volunteering outside of meets</h4>
    <p>Fill in the date, job, and number of hours worked. Get parent rep or coach who approved your job to approve your form as supervisor.
    <h4>Claiming your hours</h4>
    <p>At the banquet, you will receive your approved SSL Form signed by Coach Jen Taylor. Attached will be your tracking sheets as evidence of your hours worked. Both should be turned in to your school.
    <div class="bs-callout bs-callout-warning">
      <h4>Can't attend?</h4>
      <p>If you will not be attending the banquet on Saturday, July 19, 2014, please let us know so you can get your form early.
    </div>
  </div>
    <div class="col-md-3">
      <div class="sidebar">
        <ul class="list-group">
          <li class="list-group-item">
            <h4 class="list-group-item-heading">Volunteer Sign-ups</h4>
            <p class="list-group-item-text">We are using SignUp Genius to coordinate our volunteer efforts. If your family is using multiple emails to register for jobs, you must let our volunteer coordinator know.
            <p class="list-group-item-text"><a class="btn btn-large btn-primary" href="mailto:laurenmannella@yahoo.com?subject=SignUpGenius">Request an invite <span class="glyphicon glyphicon-envelope"></span></a>
          <li class="list-group-item">
            <h4 class="list-group-item-heading">Quick Links</h4>
            <p class="list-group-item-text">
            <ul>
              <li><a href="//www.signupgenius.com/go/10C0D4DABA62B0-ameetvolunteers20" target="_blank">A Meets</a>
              <li><a href="//www.signupgenius.com/go/10C0D4DABA62B0-bmeetvolunteers3" target="_blank">B Meets</a>
              <li><a href="//www.signupgenius.com/go/10C0D4DABA62B0-time5" target="_blank">Time Trials</a>
              <li><a href="//www.signupgenius.com/go/10C0D4DABA62B0-social3" target="_blank">Social Events</a>
            </ul>
        </ul>
      </div><!-- /.sidebar -->
    </div><!-- /.col-md-4 -->
  </div><!-- /.row -->
</div><!-- /.container -->

{% endblock %}
